<h2>List of Gymnasium Members</h2>
<div class="members-details-wrapper">
  <br>
  <br>
  <% @members.each do |member| %>
  <h3>Name: <%= member.format_name %></h3>
  <a href="/members/<%=member.id%>">Member Details</a>
  <hr>
  <% end %>
  <h3><a class="btn btn--action" href="/members/new">Create New Member</a></h3>
  <hr>
</div>
