<h2>List of Gymnasium Members</h2>
<% @members.each do |member| %>
<h3>Name: <%= member.format_name %></h3>
<a href="/members/<%=member.id%>">Member Details</a>
<hr>
<% end %>
<h2><a class="btn btn--action" href="/members/new">Create New Member</a></h2>
<hr>
