<h2>List of Gymnasium Bookings</h2>
<% for booking in @bookings %>
  <p><%= booking.gym_member.format_name %> is booked into <%= booking.gym_session.name %> on <%= booking.gym_session.day %> at <%= booking.gym_session.start_time %> </p>
<hr>
<% end %>
<h2><a class="btn btn--action" href="/bookings/new">Create New Booking</a></h2>
<hr>
