body {
  background: #161a40 url('/images/gymnasium3.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: rgb(221, 220, 217);
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, serif;
  text-align: right;
  padding: 10px;
  padding-right: 25px;

}

#logo {
  text-align: right;
  font-family: Verdana, serif;
  font-size: 45px;
  text-transform: uppercase;
  padding-right: 25px;
}

nav {
  padding-right: 25px;

}

nav ul li {
  display: inline;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding: 5px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: skyblue;
}

a:hover {
  color: darkred;
}

.home-wrapper {
  padding-top: 225px;
  padding-right: 25px;
}

.members-details-wrapper {
  padding-top: 75px;
  padding-right: 25px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, serif;
  text-align: right;
}

.sessions-details-wrapper {
  padding-right: 25px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, serif;
  text-align: right;
}

.bookings-details-wrapper {
  padding-top: 100px;
  padding-right: 25px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, serif;
  text-align: right;
}

.new-member-wrapper {
  padding-top: 200px;
  padding-right: 25px;
  justify-content: flex-end;
}

.new-session-wrapper {
  padding-top: 200px;
  padding-right: 25px;
  justify-content: flex-end;
}



.confirmation-wrapper {
  padding-top: 200px;
  padding-right: 25px;
}

.edit-member-wrapper {
  padding-top: 200px;
  padding-right: 25px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, serif;
  text-align: right;
}

.edit-session-wrapper {
  padding-top: 200px;
  padding-right: 25px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, serif;
  text-align: right;
}
