<h2>List of Gymnasium Sessions</h2>
<% @sessions.each do |session| %>
<p>Name: <%= session.name.capitalize %></p>
<a href="/sessions/<%=session.id%>">Session Details</a>
<hr>
<% end %>
<h2><a class="btn btn--action" href="/sessions/new">Create New Session</a></h2>
<hr>
